version: "3.9"

services:
  db:
    image: postgres:16
    container_name: library_db
    restart: always
    environment:
      POSTGRES_DB: library
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: library_api
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:1@db:5432/library
    ports:
      - "8000:8000"
    volumes:
      - .:/app

volumes:
  postgres_data:
